@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<h1>Login</h1>

<form asp-controller="Account" asp-action="Login">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Enter Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Enter Email">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <input type="submit" value="Login" class="btn btn-primary"/>
    <p>
        You don't have account?
        <a asp-controller="Account" asp-action="Register" class="badge btn-success">Register now</a>
    </p>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}